node_modules
dist
npm-debug.log*
yarn-debug.log*

.nuxt
.output
.DS_Store
.idea
.vscode

*.suo
*.ntvs*
*.njsproj
*.sln
*.classpath
*.project
*.settings
*.mvn
*.springBeans
*.factorypath

distribution/target
package-lock.json
pnpm-lock.yaml