body {
  margin: 0;
  font-size: 12px;
  background-color: #f6f8fb
}
a {
  text-decoration: none;
  color: inherit;
}
.main{
  width: 1200px;
  margin: 0 auto;
}
.pagination{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.clearfix{
  clear: both;
}
.fr{
  float: right;
}