body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: #f6f8fb;
  height: 100vh;
  overflow: hidden;
  word-break: break-all;
}
a {
  text-decoration: none;
  color: inherit;
}
.main{
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}
.pagination{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.clearfix{
  clear: both;
}
.cursor {
  cursor: pointer;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
//
.no-data{
  margin: calc((100vh - 346px)/2) auto;
  text-align: center;
  font-size: 20px;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #fff;
}
